<ul>
  <li><a href="/">all</a></li>
  <% @dish_types.each do |dish_type| %>
    <li><a href="/?dish_type_id=<%= dish_type.id %>"><%= dish_type.name %></a></li>
  <% end %>
</ul>

<% @dishes.each do |dish| %>

  <div class="card">
    <div><img src="<%= dish.image_url %>" alt=""></div>
    <a href="/dishes/<%= dish.id %>">
      <%= dish.name %>
    </a>
    <p><%= dish.dish_type.name if dish.dish_type %></p>
    <p><%= dish.likes.count %></p>
    <form action="/likes" method="post">
      <input type="hidden" name="dish_id" value="<%= dish.id %>">
      <button>like</button>
    </form>
    <form action="/likes" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="dish_id" value="<%= dish.id %>">
      <button>unlike</button>
    </form>
  </div>

<% end %>